<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- nombre corto usado por clase SqlDb -->
		<add name="PM"
			 connectionString="Data Source=AMACIS;Initial Catalog=ProductManagement;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

		<!-- nombre 'ProductManagement' usado en otros repos -->
		<add name="ProductManagement"
			 connectionString="Data Source=AMACIS;Initial Catalog=ProductManagement;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

		<add name="ProductManagement"
		     connectionString="Data Source=AMACIS;Initial Catalog=ProductManagement;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
